{% extends 'clienttemplates/base.html' %}
{% block about %}active{% endblock %}

{% block content %}

<div class="banner_bottom">
	<div class="container">
		<h3 class="tittle_w3ls">About me</h3>
		<img src="{{persinfo.image.url}}" class="img-responsive">
		<h3>{{persinfo.name}}</h3>
		<p>{{persinfo.about}}</p>
	</div>
</div>






{% endblock %}