{% load static %}

<!DOCTYPE html>
<html>

<head>
	<title>Gyanendra Bhattrai-The Photography</title>

	<!--/tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Gyanendra Bhattrai, dhiren photography" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--//tags -->
	<link href="{% static 'clientstatic/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
	<link href="{% static 'clientstatic/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
	<link rel="stylesheet" href="{% static 'clientstatic/css/chocolat.css' %}" type="text/css" media="screen">
	<link href="{% static 'clientstatic/css/easy-responsive-tabs.css' %}" rel='stylesheet' type='text/css' />
	<link href="{% static 'clientstatic/css/fontawesome-all.css' %}" rel="stylesheet">
	<!-- //for bootstrap working -->
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700" rel="stylesheet">
</head>

<body>
	<div class="top_header" id="home">
		<!-- Fixed navbar -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="nav_top_fx_w3layouts_agileits">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
					<div class="logo">
						<h2> <a class="navbar-brand" href="{% url 'photographyapp:clienthome' %}"><i class="fas fa-camera" aria-hidden="true"></i> {{persinfo.name}} <span class="desc">The Photography</span></a></h2>
					</div>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<div class="nav_right_top_agile_w3ls">
						<ul class="nav navbar-nav">
							<li class="{% block homepage %}{% endblock %}"><a href="{% url 'photographyapp:clienthome' %}">Home</a></li>
							<li class="{% block about %}{% endblock %}"><a class="" href="{% url 'photographyapp:about' %}">About</a></li>
							<li class="{% block contact %}{% endblock %}"><a class="scroll" href="{% url 'photographyapp:contact' %}">Contact</a></li>
							<li class="dropdown {% block photo %}{% endblock %}">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Photos and Videos <span class="caret"></span></a>
								<ul class="dropdown-menu">
									{% for category in allcategories %}
									<li><a class="scroll" href="{% url 'photographyapp:clientcategorydetail' category.id %}">{{category.title}}</a></li>
									{% endfor %}
								</ul>
							</li>
						
							<li class="dropdown {% block project %}{% endblock %}">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a class="scroll" href="{% url 'photographyapp:clientprojectlist' %}?status=ongoing">On going projects</a></li>
									<li><a class="scroll" href="{% url 'photographyapp:clientprojectlist' %}?status=completed">Completed projects</a></li>
								</ul>
							</li>
								<li class="dropdown {% block abc %}{% endblock %}">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Check these too<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a class="scroll" href="{% url 'photographyapp:clienthome' %}#awardsssss">Awards & Acknowledgement</a></li>
									<li><a class="scroll" href="{% url 'photographyapp:clienthome' %}#test">Testimonial</a></li>
									<li><a class="scroll" href="{% url 'photographyapp:clienttearsheet' %}#test">Tear Sheet</a></li>
								</ul>
							</li>
							<li><a class="scroll" href="#team"></a></li>
							
						</ul>
					</div>
				</div>
				<!--/.nav-collapse -->
			</div>
		</nav>
		<div class="clearfix"></div>
	</div>

	{% block content %}

	{% endblock %}

	<!-- footer -->
	<div class="footer" id="contact">
		<div class="footer_inner_info">
			<!--/tabs-->
			{% block footer %}
			{% endblock %}
			<!--//tabs-->
			<div class="clearfix"> </div>
			<ul class="social-nav model-3d-0 footer-social social two">
				<li>
					<a href="#" class="facebook">
						<div class="front"><i class="fab fa-facebook-f" aria-hidden="true"></i></div>
						<div class="back"><i class="fab fa-facebook-f" aria-hidden="true"></i></div>
					</a>
				</li>
				<li>
					<a href="#" class="twitter">
						<div class="front"><i class="fab fa-twitter" aria-hidden="true"></i></div>
						<div class="back"><i class="fab fa-twitter" aria-hidden="true"></i></div>
					</a>
				</li>
				<li>
					<a href="#" class="instagram">
						<div class="front"><i class="fab fa-instagram" aria-hidden="true"></i></div>
						<div class="back"><i class="fab fa-instagram" aria-hidden="true"></i></div>
					</a>
				</li>
				
			</ul>
			<p class="copy-right">&copy 2019. All rights reserved | Design by <a href="http://w3layouts.com/">Dhirendra Shah</a></p>
		</div>
	</div>
	<!-- //footer -->
	<script type="text/javascript" src="{% static 'clientstatic/js/jquery-2.2.3.min.js' %}"></script>
	<script src="{% static 'clientstatic/js/responsiveslides.min.js' %}"></script>
	<script>
		// You can also use "$(window).load(function() {"
		$(function () {
			// Slideshow 4
			$("#slider4").responsiveSlides({
				auto: true,
				pager: true,
				nav: false,
				speed: 500,
				namespace: "callbacks",
				before: function () {
					$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
					$('.events').append("<li>after event fired.</li>");
				}
			});

		});
	</script>
	<script type="text/javascript" src="{% static 'clientstatic/js/bootstrap.js' %}"></script>

	<script type="text/javascript" src="{% static 'clientstatic/js/all.js' %}"></script>
	<script>
		$('ul.dropdown-menu li').hover(function () {
			$(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
		}, function () {
			$(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
		});
	</script>

	<!-- js -->
	<!--/tooltip -->
	<script>
		$(function () {
			$('[data-toggle="tooltip"]').tooltip({
				trigger: 'manual'
			}).tooltip('show');
		});

		// $( window ).scroll(function() {   
		// if($( window ).scrollTop() > 10){  // scroll down abit and get the action   
		$(".progress-bar").each(function () {
			each_bar_width = $(this).attr('aria-valuenow');
			$(this).width(each_bar_width + '%');
		});

		//  }  
		// });
	</script>
	<!--//tooltip -->
	<!-- script for responsive tabs -->
	<script src="{% static 'clientstatic/js/easy-responsive-tabs.js' %}"></script>
	<script>
		$(document).ready(function () {
			$('#horizontalTab').easyResponsiveTabs({
				type: 'default', //Types: default, vertical, accordion           
				width: 'auto', //auto or any width like 600px
				fit: true, // 100% fit in a container
				closed: 'accordion', // Start closed if in accordion view
				activate: function (event) { // Callback function if tab is switched
					var $tab = $(this);
					var $info = $('#tabInfo');
					var $name = $('span', $info);
					$name.text($tab.text());
					$info.show();
				}
			});
			$('#verticalTab').easyResponsiveTabs({
				type: 'vertical',
				width: 'auto',
				fit: true
			});
		});
	</script>
	<!--// script for responsive tabs -->

	<!--gallery -->
	<script src="{% static 'clientstatic/js/jquery.chocolat.js' %}"></script>
	<!--light-box-files -->
	<script type="text/javascript">
		$(function () {
			$('.gallery-grid1 a').Chocolat();
		});
	</script>
	<!-- //gallery -->
	<!-- Smooth-Scrolling-JavaScript -->
	<script type="text/javascript" src="{% static 'clientstatic/js/easing.js' %}"></script>
	<script type="text/javascript" src="{% static 'clientstatic/js/move-top.js' %}"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll, .navbar li a, .footer li a").click(function (event) {
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- //Smooth-Scrolling-JavaScript -->
	<script type="text/javascript">
		$(document).ready(function () {
			/*
									var defaults = {
							  			containerID: 'toTop', // fading element id
										containerHoverID: 'toTopHover', // fading element hover id
										scrollSpeed: 1200,
										easingType: 'linear' 
							 		};
									*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<script type="text/javascript">
		$( document ).ready(function() {

  var hashcode = window.location.hash;
  $('html, body').animate({
        scrollTop: $(hashcode).offset().top
    }, 3000);
});
	</script>


	<a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

</body>

</html>