{% extends 'clienttemplates/base.html' %}
{% block abc %}active{% endblock %}


{% block content %}
<div class="banner_top">
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
		</div>

	</div>

	<div class="works" id="services">
		<div class="container">
			<h3 class="tittle_w3ls cen">Tear Sheet</h3>
		</div>
	</div>

	<!--//photographers-->
	<div class="gallery_sec" id="gallery">
		{% for tearsheet in alltearsheet %}
		<div class="col-md-4 col-sm-4 col-xs-4 gal-sec">
			<div class="gallery-grid1">
				<a title="" href="{{tearsheet.image.url}}">
						<img src="{{tearsheet.image.url}}" alt=" " class="img-responsive" />
						</a>
			</div>
		</div>
		{% endfor %}
</div>
{% endblock %}