{% extends 'clienttemplates/base.html' %}
{% block project %}active{% endblock %}



{% block content %}


	<div class="works" id="services">
		<div class="container">
			<h3 class="tittle_w3ls cen">{{request.GET.status}} Projects</h3>
		</div>
	</div>

<div class="banner_bottom" id="about">
	<div class="container">
		<div class="news-main">
			{% for project in projects %}
				<div class="col-md-6 banner_bottom_left">
					<div class="banner_bottom_pos">
						<div class="banner_bottom_pos_grid">
							<div class="col-xs-3 banner_bottom_grid_left">
								<div class="banner_bottom_grid_left_grid">
									<div class="dodecagon b1">
										<div class="dodecagon-in b1">
											<div class="dodecagon-bg b1">
												<span class="fas fa-camera-retro" aria-hidden="true"></span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xs-9 banner_bottom_grid_right">
								<h4>{{project.title}}</h4>
								<p>{{project.description|truncatewords:"20"}}</p>
								<div class="barWrapper">
									<span class="progressText"><b>Completion Status</b></span>
									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="{{project.completion_pct}}" aria-valuemin="0" aria-valuemax="100">
											<span class="popOver" data-toggle="tooltip" data-placement="top" title="{{project.completion_pct}}%"> </span>
										</div>
									</div>
								</div>
							</div>


							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				{% endfor %}
				<div class="clearfix"></div>
			</div>
	</div>
</div>



{% endblock %}