{% extends 'clienttemplates/base.html' %}
{% load static %}
{% block photo %}active{% endblock %}

{% block content %}
	<!-- banner -->
	<div class="banner_top">
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
		</div>

	</div>

	<div class="works" id="services">
		<div class="container">
			<h3 class="tittle_w3ls cen">Category: {{categoryobject.title}}</h3>
		</div>
	</div>

	<!--//photographers-->
	<div class="gallery_sec" id="gallery">
		{% for photo in categoryobject.photo_set.all %}
		<div class="col-md-4 col-sm-4 col-xs-4 gal-sec">
			<div class="gallery-grid1">
				<a title="{{photo.title}}" href="{{photo.image.url}}">
						<img src="{{photo.image.url}}" alt=" " class="img-responsive" />
						<div class="p-mask">
						<h4>{{photo.title}}</h4>
							<p>{{photo.caption}}</p>
						</div>
						</a>
			</div>
		</div>
		{% endfor %}
	
		
		
		
		<div class="clearfix"></div>
	</div>

	<div class="works" id="services">
		<div class="container">
			<h3 class="tittle_w3ls cen">Videos</h3>
		</div>
	</div>
	<div class="gallery_sec" id="gallery">
		{% for video in categoryobject.video_set.all %}
		<div class="col-md-6 col-sm-6 col-xs-6 gal-sec">
			<div class="gallery-grid1">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/{{video.link}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
		{% endfor %}
	
		
		
		
		<div class="clearfix"></div>
	</div>
{% endblock %}