{% extends 'clienttemplates/base.html' %}
{% load static %}

{% block homepage %}active{% endblock %}

{% block content %}
	<!-- banner -->
	<div class="banner_top">
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				{% for slider in allsliders %}
				<li data-target="#myCarousel" data-slide-to="{{forloop.counter}}" {% if forloop.counter == 1 %} class="active"{% endif %}></li>
				{% endfor %}
				
			</ol>
			<div class="carousel-inner" role="listbox">
				{% for slider in allsliders %}
				<div class="item{% if forloop.counter == 1 %} active{% else %} item{{forloop.counter}}{% endif %}" style="background: -webkit-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url({{slider.image.url}}) no-repeat;">
					<div class="container">
						<div class="carousel-caption">
							<h3>{{slider.title}}</h3>
							<p>{{slider.caption}}</p>

						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			
	
			<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			<span class="fa fa-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span></a>
			<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			<span class="fa fa-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
			</a>
		</div>
	</div>

	<div class="banner_bottom">
		<div class="container">
			<h3 class="tittle_w3ls">About me</h3>
			<div class="inner_sec_info_agile_w3_info">
				<div class="last_sec">
					<div class="col-md-8 last-img-info-text">
						<h4>{{persinfo.name}} </h4>
						<p>{{persinfo.about|truncatechars:"300"}}
						</p>
						<div class="ab_button">
							<a class="btn btn-primary btn-lg" href="{% url 'photographyapp:about' %}" role="button">Read More </a>
						</div>
					</div>
					<div class="col-md-4 last-img-info">
						<div class="dodecagon l1">
							<div class="dodecagon-in l1">
								<div class="dodecagon-bg l1" style="background: url({{persinfo.image.url}}) no-repeat 0px 0px;">

								</div>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="banner_bottom" id="awardsssss">
		<div class="container">
			<h3 class="tittle_w3ls">Awards & Acknowledgement</h3>
			<div class="inner_sec_info_agile_w3_info">
				<div class="last_sec">
						{% for award in awards %}
						<div class="col-md-12" >
									<h3><strong>Title: </strong>{{award.title}}</h3><hr>
									<div class="col-md-3">
										<img src="{{award.image.url}}" class="img-responsive"><hr>
									</div>						
									<h5>{{award.description}}</h5><br>
									<h4><strong>Provided_by:</strong>{{award.provided_by}}</h4>
									<h4><strong>Awarded Date: </strong>{{award.date}}</h4><hr>
						</div>
						{% endfor %}
									
								
						
				</div>
			</div>
		</div>
	</div>
	
	<!--/testimonials-->
	<div class="tesimonials" id="test">
		<div class="container">
			<h3 class="tittle_w3ls cen">Testimonials</h3>
			<div class="inner_sec_info_agile_w3_info">
				<div class="test_grid_sec">
					<div class="col-md-offset-2 col-md-8">
						<div class="carousel slide two" data-ride="carousel" id="quote-carousel">
							<!-- Bottom Carousel Indicators -->
							<ol class="carousel-indicators two">
								{% for testimonial in alltestimonials %}
								<li data-target="#quote-carousel" data-slide-to="{{forloop.counter}}"{% if forloop.counter == 1 %} class="active"{% endif %}></li>
								{% endfor %}
								
							</ol>

							<!-- Carousel Slides / Quotes -->
							<div class="carousel-inner">

								{% for testimonial in alltestimonials %}
								<div class="item {% if forloop.counter == 1 %}active{% endif %}">
									<blockquote>
										<div class="test_grid">
											<div class="col-sm-3 text-center test_img">
												<div class="dodecagon c1">
													<div class="dodecagon-in c1">
														<div class="dodecagon-bg c1" style="background: url({{testimonial.image.url}}) no-repeat 0px 0px;">

														</div>
													</div>
												</div>
											</div>
											<div class="col-sm-9 test_img_info">
												<p><i class="fas fa-quote-left"></i>{{testimonial.sayings}}</p>
												<h6>{{testimonial.name}} ({{testimonial.current_engagement}})</h6>
											</div>
										</div>
									</blockquote>
								</div>
							{% endfor %}
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
		

{% endblock %}